/*
Colores
    Background: #333

    Tarjetas
        Orange: hsl(31, 77%, 52%)
        Cyan: hsl(184, 100%, 22%)
        Dark cyan: hsl(179, 100%, 13%)
    
    Texto
        Blanco al 0.75 de opacidad

Fuentes de la página
    Títulos
        https://fonts.google.com/specimen/Big+Shoulders+Display
        Estilo 600
    Textos
        https://fonts.google.com/specimen/Lexend+Deca
        Estilo 400
*/

*{
    box-sizing: border-box;
}

body {
  /* background-color: #333; */
}

.columns-container{ 
    display: flex;
    width: 45%;
    height: 50vh;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;
}

.column{
    width: 33.33%;
    
    border: 1px solid black;
}







