/*
Colores
    Background: #333

    Tarjetas
        Orange: hsl(31, 77%, 52%)
        Cyan: hsl(184, 100%, 22%)
        Dark cyan: hsl(179, 100%, 13%)
    
    Texto
        Blanco al 0.75 de opacidad

Fuentes de la página
    Títulos
        https://fonts.google.com/specimen/Big+Shoulders+Display
        Estilo 600
    Textos
        https://fonts.google.com/specimen/Lexend+Deca
        Estilo 400

        font-family: 'Big Shoulders Display', cursive;
        font-family: 'Lexend Deca', sans-serif;
*/

*{
    box-sizing: border-box;
}

body {
    background-color: #333;
}

.columns-container{ 
    display: flex;
    width: 47%;
    min-width: 250px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
   
    
}

.column{
    width: 33.33%;
    padding-left: 6%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.column-icon-container{
    width: 31%;
    margin-bottom: 18%;
}

.column-icon{
    width: 100%;
}

.column-title{
    font-size: 2vw;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.75)
    
}

.column-header{
    margin-bottom: 5%
}


.column-body{
    font-size: 0.9vw;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75)
}

.column-link-container{
    width: 80%; 
    padding: 6%;
    margin-top: 50%;
    text-align: center;
    border-radius: 15px;
    background-color: white;
}

.column-link{
    text-decoration: none;
}


.first-column{
    background-color: hsl(31, 77%, 52%);
}

.second-column{
    background-color: hsl(184, 100%, 22%);
}

.third-column{
    background-color: hsl(179, 100%, 13%);
}

.orange-color{
    color: hsl(31, 77%, 52%);
}

.cyan-color{
    color: hsl(184, 100%, 22%);
}

.darkCyan-color{
    color: hsl(179, 100%, 13%);
}






